.carousel-container {
    background-image: url("../img/background-jugadores.jpg");
    position: relative;
    width: 100%;
}

/* Contenedor del track que permite el desplazamiento */
.carousel-track-container {
    overflow: hidden;
    padding: 1.25rem 0;
}

/* La lista de tarjetas */
.carousel-track {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    transition: transform 0.3s ease-in-out;
}

/* Estilo de cada tarjeta de jugador */
.carousel-card {
    flex-shrink: 0;
    position: relative;
    width: 17rem;
    margin-right: 1.25rem;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(0.3125rem);
    border-radius: 0.75rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 1.25rem;
    overflow: hidden;
}

.carousel-card:first-child {
    margin-left: 3rem; 
}

/* Estilo de la imagen del jugador */
.carousel-card-image {
    width: 100%;
    height: 15rem;
    object-fit: cover;
    border-radius: 0.5rem;
    margin-bottom: 0.9rem;
}

/* Estilo para los textos */
.carousel-card-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0 0 0.3rem;
}

.carousel-card-text {
    font-size: 1rem;
    color: #666;
    margin: 0;
}

/* Estilos para los botones de navegación */
.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    padding: 0.5rem;
    font-size: 3rem;
    cursor: pointer;
    border-radius: 70%;
    z-index: 100;
    transition: background-color 0.3s;
    margin: 0 3rem;
}

.carousel-button.prev {
    left: -1.5rem;
}

.carousel-button.next {
    right: -1.5rem;
}

.carousel-button:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

