.copas-section {
  text-align: center;
  background: #f9f9f9;
  padding: 3rem 1rem;
  font-family: "Roboto", sans-serif;
  color: #222;
}

.titulo-copas {
  font-family: 'Fuente-titulo', sans-serif;
  font-size: 3rem;
  margin-bottom: .5rem;
}

.subtitulo-copas {
  color: #777;
  font-size: 0.9rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 5rem;
}

.copas-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 4rem;
}

.copa {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.copa-logo {
  position: relative;
  width: 120px;
  height: 120px;
}

.copa-logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  opacity: 0.5;
  filter: brightness(0.8) contrast(0.9);
  transition: all 0.3s ease;
}

.cantidad {
  position: absolute;
  top: -8px;
  right: -8px;
  background: #EC1C24;
  color: #fff;
  font-size: .8rem;
  font-weight: 700;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nombre {
  margin-top: .8rem;
  color: #EC1C24;
  font-weight: 500;
  font-size: 1rem;
  font-family: 'Fuente-cuerpo';
}

.nombre span {
  font-family: 'Fuente-cuerpo';
  display: block;
  color: #222;
  font-weight: 600;
}

.copa:hover {
  transform: translateY(-6px);
}

.copa:hover img {
  opacity: 1;
  filter: brightness(1) contrast(1);
}

.copa::after {
  content: "";
  position: absolute;
  bottom: -10px;
  width: 60%;
  height: 10px;
  background: rgba(0, 0, 0, 0.15);
  border-radius: 50%;
  filter: blur(6px);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.copa:hover::after {
  opacity: 1;
}