.estadisticas-section {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  color: #fff;
  background-color: #222;
}

.estadisticas-section h2 {
  font-family: 'Fuente-titulo', sans-serif;
  font-size: 3rem;
  text-align: center;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  margin-bottom: 5rem;
  transition: all 0.8s ease;
}

.estadisticas-section h2:hover {
  cursor: pointer;
  letter-spacing: 0.2rem;
}

.graficos-container {
  display: flex;
  height: 50rem;
  gap: 1.5rem;
  justify-content: center;
  align-items: stretch;
}

.goles-linea {
  flex: 0 0 60%;
  background-color: #1a1a1a;
  padding: 1rem;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
  border-radius: 0.75rem;
  height: 30rem; 
}

.grafico-lateral {
  flex: 0 0 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}

.grafico-lateral .grafico {
  flex: 1;
  background-color: #1a1a1a;
  padding: 1rem;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
  border-radius: 0.75rem;
}

canvas {
  width: 100% !important;
  height: 100% !important;
}

@media (max-width: 576px) {
  .graficos-container {
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
  }

  .goles-linea {
    width: 100%;
    height: 25rem;
  }

  .grafico-lateral {
    flex-direction: row;
    width: 100%;
    gap: 1rem;
  }

  .grafico-lateral .grafico {
    flex: 1;
    height: 12rem;
  }
}

@media (min-width: 577px) and (max-width: 1023px) {
  .graficos-container {
    flex-direction: column;
    gap: 2rem;
    align-items: center;
  }

  .goles-linea {
    width: 100%;
    height: 20rem;
  }

  .grafico-lateral {
    flex-direction: row;
    width: 100%;
    gap: 1rem;
  }

  .grafico-lateral .grafico {
    flex: 1;
    height: 12rem;
  }
}

@media (min-width: 1024px) {
  .graficos-container {
    flex-direction: row;
    gap: 1.5rem;
    align-items: stretch; 
  }

  .goles-linea {
    flex: 0 0 65%;
    height: 30rem;
  }

  .grafico-lateral {
    flex: 0 0 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .grafico-lateral .grafico {
    flex: 1;
  }
}
