/* ==================== BASE ==================== */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #EC1C24;
  width: 100%;
  height: 5rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

svg {
  filter: drop-shadow(0 0.5rem 1rem rgba(0, 0, 0, 0.473));
}

.borde, svg {
  transition: all 0.5s ease;
}

svg:hover {
  scale: calc(1.07);
}

svg:hover .borde {
  fill: rgb(255, 255, 255) !important;
}

.botones-nav {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: flex-end;
}

.boton-link {
  font-family: 'Fuente-cuerpo';
  background-color: #111;
  color: white;
  border-radius: 0.9rem;
  padding: 0.5rem 0.8rem;
  text-decoration: none;
  transition: all 0.3s ease;
  font-size: 1rem;
  font-weight: bold;
  box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.2);
}

.boton-link:hover {
  transform: translateY(-0.15rem);
  color: #fa0c14;
}


@media (max-width: 650px) {
  header {
    flex-direction: row;
    justify-content: space-between;
    padding: 0.8rem 1.5rem;
  }

   .botones-nav {
    flex-wrap: wrap;
    gap: 0.4rem;
    width: 100%;
  }

  .boton-link {
    font-size: 0.85rem;
    padding: 0.4rem 0.6rem;
  }
}


