<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <footer>
    <div class="footer-container">
      <div class="footer-column">
        <h4>SEDE SOCIAL • AVELLANEDA:</h4>
        <p>📍 Av. Mitre 470 (1870).</p>
        <p>📞 4229-7600</p>
        <p>✉️ socios@clubaindependiente.com.ar</p>
      </div>
      <div class="footer-column">
        <h4>SEDE BOYACA • CAPITAL:</h4>
        <p>📍 Boyacá 470.</p>
        <p>📞 4633-7527</p>
        <p>✉️ boyaca@clubaindependiente.com.ar</p>
      </div>
    </div>
  </footer>
  
</body>
</html>