<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
</head>
<body>

    <header>
        <a href="./" class="logo">
            <img src="/assets/img/independiente-logo.png" alt="logo">
        </a>
            
        <div class="botones-nav">
            <a class="boton-link" href="/proyecto/pages/partidos/partidos.html">Entradas Digitales</a>
            <a class="boton-link" id="btnsocios" href="#">Asociate</a>
            <a class="boton-link" id="btnsededigital" target="_blank" href="pages/socios/socio.html">Sede Digital</a>
            <a class="boton-link" id="btncerrarsesion" href="#">Cerrar sesión</a>
        </div>
    </header>

    <script src="../socios/login.js"></script>
</body>
</html>
